@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%; /* Updated to a very light off-white */
    --foreground: 240 10% 3.9%;
    --card: 40 7% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 40 7% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 139 15% 68%; /* Updated Soft Sage Green */
    --primary-foreground: 142.1 8.1% 10%; /* Deep Green Text */
    --secondary: 145 14.3% 34.5%; /* Deep Olive */
    --secondary-foreground: 142.1 8.1% 92%; /* Light Text */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 95%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0, 0%, 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 12%; /* Deep Charcoal Background */
    --foreground: 0 0% 95%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 95%;
    --primary: 139 15% 50%; /* Slightly darker Soft Sage Green for dark mode */
    --primary-foreground: 0 0% 98%;
    --secondary: 145 14.3% 34.5%; /* Deep Olive */
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 20%;
    --muted-foreground: 142.9 5% 70%;
    --accent: 200 48.8% 50%; /* Slightly muted Blue for dark mode */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 85.7% 97%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 139 15% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  input {
    @apply bg-card text-card-foreground border border-input rounded;
  }
  body {
    @apply bg-background text-foreground;
  }
}
